body {
  background-color: rgb(184, 184, 184);
}

.navBar {
  text-align: center;
}

.editBox {
  padding-top: 5em;
}

.bookSelect {
  margin-top: 5em;
  text-align: center;
  height: fit-content;
}

p {
  font-size: smaller;
  margin-bottom: -.5em;
}

.card {
  background: lightblue;
  width: 10em;
  padding: 1em;
  margin: 1em;
  flex-basis: 22%;
  border-radius: 5px;
  width: 300px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

h2 {
  text-align: center;
}

.editBox {
  text-align: center;
}

.commText {
  height: 150px;
  width: 300px;
}

.bookForm {
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center;
}

.editForm {
  background: transparent;
}

.checkBox {
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center;
}



.formField {
  margin-bottom: 10px;
  display: block;
}

.formBlock {
  /* display: inline-flex;
  flex-direction: column; */
  /* align-items: center; */
  text-align: center;
  margin-top: 20%;
}

form {
  display: inline-block;
  background: white;
  padding: 5px;
  border-radius: 3px;
  width: 50%;
  font-size: x-large;
}

label input {
  float: right;
  margin-left: 5px;
  border-radius: 10px;
}